html
	head
		title Smart Form Validator
		link(rel="stylesheet", href="css/styles.css")
	body
		main.main
			section.section
				.container
					form.form.form-callback.js-modal-form-callback(action="/ajax/callback.php" method="POST")
						.form__title.txt-center Наш специалист свяжется с Вами в течение 15 минут
						.form__group
							.row
								.col.col-4
									.form__item
										input.form-control.form__input._required(autocomplete="off" type="text" name="name" value="" _required data-type="text")
										label.form__label Имя
								.col.col-4
									.form__item
										input.form-control.form__input._required(type="text" name="phone" value="" _required data-type="phone")
										label.form__label Телефон
								.col.col-4
									.form__item
										input.form-control.form__input._required(type="text" name="email" value="" _required data-type="email")
										label.form__label E-mail
						.form__group.form__group-btn
							button.btn.js-form-submit(type="submit")
								span Отправить
		script(src="js/app.js")