html
    head
        title Form Validator
        link(rel="stylesheet", href="css/styles.css")
    body
        main.main
            section.section
                form.form.form-validate
                    .form__group
                        .form__item
                            label.form__label
                            input.form__input
        script(src="js/app.js")