doctype html
html
	head
		title Smart Form Validator
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=Edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet", href="css/styles.css")
	body
		main.main
			section.section
				.container
					form.form.form-callback.js-modal-form-callback(action="/ajax/callback.php" method="POST")
						.form__title.txt-center Наш специалист свяжется с Вами в течение 15 минут
						.form__group
							.row
								.col.col-4
									.form__item
										input.form-control.form__input._required(autocomplete="off" type="text" name="name" value="" _required data-type="text")
										label.form__label Имя
								.col.col-4
									.form__item
										input.form-control.form__input._required(type="text" name="phone" value="" _required data-type="phone")
										label.form__label Телефон
								.col.col-4
									.form__item
										input.form-control.form__input._required(type="text" name="email" value="" _required data-type="email")
										label.form__label E-mail
						.form__group
							.row
								.col.col-6
									.form__item.form__item-checkbox
										input#is_agree.form-control._required(type="checkbox" name="is_agree" value="" _required data-type="checkbox")
										label(for="is_agree") я согласен
								.col.col-6
									.form__item.form__item-checkbox
										input#is_agree2.form-control._required(type="checkbox" name="is_agree2" value="" _required data-type="checkbox")
										label(for="is_agree2") я согласен 2
						.form__group.form__group-btn
							button.btn.js-form-submit(type="submit")
								span Отправить
		script(src="js/main.bundle.js")